body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters input[type="text"],
.filters select {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.filters select {
  background-color: #fff;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pdf-table th,
.pdf-table td {
  padding: 12px;
  text-align: left;
}

.pdf-table th {
  background-color: #3366a0;
  color: #fff;
}

.pdf-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pdf-table tr:hover {
  background-color: #ddd;
}

.pdf-table tr {
  border-bottom: 2px solid #ddd;
}

.pdf-table a {
  color: #3366a0;
  text-decoration: none;
}

.pdf-table a:hover {
  color: #162c46;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .filters {
    flex-direction: column;
    align-items: center;
  }
  .filters input[type="text"],
  .filters select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
